.content-wrapper {
    position: absolute;
    top: 87%;
    width: 100%;
    min-height: 12%;
    z-index: 2;
    background: white;

}
.content {
    padding: 1em 1em 3em;
}
.content-head {
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    margin: 2em 0 1em;
}
.content-head-ribbon {
    color: white;
}
.content-subhead {
    color: #1f8dd6;
}
    .content-subhead i {
        margin-right: 7px;
    }
.ribbon {
    background: #2d3e50;
    color: #aaa;
}
.footer {
    background: #111;
    position: fixed;
    bottom: 0;
    width: 100%;
}
@media (min-width: 48em) {
    body {
        font-size: 16px;
    }
    .home-menu {
        text-align: left;
    }
        .home-menu ul {
            float: right;
        }
    .splash {
        width: 50%;
        height: 50%;
    }
    .splash-head {
        font-size: 250%;
    }
    .l-box-lrg {
        border: none;
    }
}
@media (min-width: 78em) {
    .splash-head {
        font-size: 300%;
    }
}